{% extends "base.html" %}
{% block title%}Post Details{% endblock %}
{% block content%}
<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
{% if post.tags|length !=0%}
<h3>Tags</h3>
{% for tag in post.tags%}
<ul>
<li><a href="/tags/{{tag.id}}">{{tag.name}}</a></li>
</ul>
{% endfor%}
{% endif %}
<p><i>By {{user.first_name}} {{user.last_name}} on {{user.created_at}}</i></p>
<a href="/posts/{{post.id}}/delete"><button>Delete</button></a>
<a href="/posts/{{post.id}}/edit"><button>Edit</button></a>
<a href="/users/{{user.id}}"><button>Cancel</button></a>
{% endblock %}